* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 668px;
  background-image: url(img/back_top.png);
}

.header_content {
  padding-top: 2%;
  width: 65%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 24%;
}

.logo_header p {
  margin-top: 1%;
  font-size: 11px;
  font-weight: 600;
}

.logo_header img {
  max-width: 50px;
  max-height: 50px;
}

.logo_right {
  margin-left: 2%;
}

.input_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.input_header input[type="text"] {
  height: 22px;
  width: 100%;
  border-radius: 15px;
  color: black;
  outline: none;
  padding-left: 5px;
}

.lenin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
}

.lenin span {
  margin-top: 2%;
  margin-left: 3%;
  color: #dfe0db;
  font-size: 11px;
}

.lenin img {
  max-width: 97px;
  max-height: 97px;
}

.number {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: orange;
  font-weight: 600;
}

@media only screen and (max-width: 1373px) {
  .header_content {
    width: 100%;
  }
  .logo_header {
    margin-left: 0.1%;
  }
  .number {
    margin-right: 0.4%;
  }
}

@media only screen and (max-width: 902px) {
  .header_content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
  .logo_header {
    width: 100%;
  }
  .input_header {
    width: 90%;
  }
  .lenin {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .number {
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 534px) {
  .header_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo_header {
    width: 100%;
  }
  .input_header {
    width: 100%;
    margin-top: 3%;
  }
  .lenin {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3%;
  }
  .number {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3%;
  }
}

.hrefs {
  padding-top: 2%;
  width: 65%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: solid 2px white;
}

.hrefs_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
}

.hrefs_left a {
  color: white;
}

.for_slider {
  margin: auto;
  width: 79%;
}

.slider {
  width: 60%;
  height: 100px;
  margin: auto;
  margin-top: 2%;
}

@media only screen and (max-width: 1464px) {
  .hrefs_left {
    width: 70%;
  }
}

@media only screen and (max-width: 1373px) {
  .hrefs {
    width: 100%;
  }
  .hrefs_left {
    width: 55%;
  }
  .for_slider {
    width: 100%;
  }
  .slider {
    height: 90%;
    margin: auto;
    margin-top: 2%;
  }
}

@media only screen and (max-width: 902px) {
  .for_slider {
    width: 100%;
  }
  .slider {
    width: 90%;
    height: 100px;
    margin: auto;
    margin-top: 2%;
  }
}

@media only screen and (max-width: 960px) {
  .hrefs_right {
    display: none;
  }
  .hrefs_left {
    width: 100%;
  }
}

@media only screen and (max-width: 570px) {
  .hrefs {
    margin-top: 2%;
  }
  .hrefs_left {
    display: -ms-grid;
    display: grid;
    text-align: center;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    font-size: 1.1em;
  }
  .hrefs_left a:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .for_slider {
    width: 100%;
  }
  .slider {
    width: 100%;
    height: 100px;
    margin: auto;
    margin-top: 2%;
  }
}

main {
  width: 100%;
  background-image: url(img/back_mid.png);
}

.main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1%;
}

.main_left {
  margin-top: 1%;
  width: 20%;
}

.block_of_news {
  width: 100%;
}

.block_of_news hr {
  border: solid 0.5px #055592;
}

.block_of_news h2 {
  color: #055592;
}

.block_of_news h4 {
  margin-top: 5%;
  color: #055592;
}

.block_of_news span {
  font-size: 12px;
  color: #4e4e4e;
}

.block_of_news p {
  margin-top: 3%;
  font-size: 12.5px;
}

.block_of_news a {
  margin-top: 1%;
  float: right;
  color: #055592;
}

.block_of_news a:hover {
  color: blue;
}

.main_right {
  margin-top: 1%;
  padding-top: 2%;
  width: 75%;
  font-weight: 600;
  font-size: 16px;
}

@media only screen and (max-width: 1373px) {
  .main_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 99%;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 982px) {
  .main_left {
    width: 23%;
  }
}

@media only screen and (max-width: 715px) {
  .main_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_left {
    width: 100%;
  }
  .main_right {
    width: 100%;
  }
}

footer {
  width: 100%;
  background-image: url(img/back_footer.png);
}

.footer_content {
  width: 65%;
  margin: auto;
  padding-bottom: 5%;
}

.footer_content h4 {
  color: white;
  padding-top: 1%;
  font-weight: 600;
}

.images {
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.images img:nth-child(1) {
  max-width: 78px;
  max-height: 78px;
}

.images img:nth-child(2) {
  max-width: 78px;
  max-height: 78px;
}

.images img:nth-child(3) {
  max-width: 173px;
  max-height: 43px;
}

.images img:nth-child(4) {
  max-width: 106px;
  max-height: 71px;
}

.images img:nth-child(5) {
  max-width: 218px;
  max-height: 47px;
}

.images img:nth-child(6) {
  max-width: 150px;
  max-height: 88px;
}

.images img:nth-child(7) {
  max-width: 143px;
  max-height: 49px;
}

.bot_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo_footer {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  width: 24%;
}

.logo_footer p {
  margin-top: 1%;
  font-size: 11px;
  font-weight: 600;
}

.logo_footer img {
  max-width: 50px;
  max-height: 50px;
}

.numbers {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.numbers p {
  text-align: right;
  font-size: 12px;
  color: white;
}

.numbers h3 {
  color: #f1a504;
}

@media only screen and (max-width: 1490px) {
  .footer_content {
    width: 99%;
  }
  .footer_content h4 {
    text-align: center;
  }
}

@media only screen and (max-width: 982px) {
  .footer_content h4 {
    display: none;
  }
  .images {
    display: none;
  }
}

@media only screen and (max-width: 715px) {
  .bot_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .logo_footer {
    margin: auto;
    margin-top: 8%;
    width: 50%;
  }
  .numbers {
    margin: auto;
    margin-top:  17.5%;
    width: 99%;
  }
}
/*# sourceMappingURL=styleTest.css.map */